name: myenv

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.8'  # specify your Python version

    - name: Set up Conda
      uses: conda-incubator/setup-miniconda@v2
      with:
        auto-update-conda: true
        python-version: 3.8  # specify your Python version
        environment-file: /usr/share/miniconda/condabin
        activate-environment: myenv

    - name: Install flake8
      run: conda install -c conda-forge flake8

    - name: Run flake8
      run: flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics

    - name: Run nonstandardcode.py
      run: python nonstandardcode.py
